/* lexusclock.scss */
.seconds {
  font-family: 'Six Caps', sans-serif;
  color: white;
  position: relative;
  margin: 0 auto;
  text-align: center; }

body {
  position: relative;
  background-color: #ff6a00; }
